<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bebopze.tdx.quant.dal.mapper.BaseBlockRelaStockMapper">


    <delete id="deleteByBlockId" parameterType="long">
        DELETE
        FROM base_block_rela_stock
        WHERE block_id = #{blockId}
    </delete>


    <delete id="deleteByStockId" parameterType="long">
        DELETE
        FROM base_block_rela_stock
        WHERE stock_id = #{stockId}
    </delete>


    <delete id="deleteAll">
        DELETE
        FROM base_block_rela_stock
    </delete>


    <select id="listByBlockCodeList" resultType="com.bebopze.tdx.quant.dal.entity.BaseBlockRelaStockDO">
        SELECT

        DISTINCT

        r.*, s.code AS stockCode, s.name AS stockName, b.code AS blockCode, b.name AS blockName


        FROM base_block_rela_stock r
        LEFT JOIN base_stock s ON r.stock_id = s.id
        LEFT JOIN base_block b ON r.block_id = b.id

        <where>
            b.code IN
            <foreach collection="blockCodeList" item="blockCode" open="(" separator="," close=")">
                #{blockCode}
            </foreach>
        </where>
    </select>


    <select id="listByStockCodeList" resultType="com.bebopze.tdx.quant.dal.entity.BaseBlockRelaStockDO">
        SELECT

        DISTINCT

        r.*, s.code AS stockCode, s.name AS stockName, b.code AS blockCode, b.name AS blockName


        FROM base_block_rela_stock r
        LEFT JOIN base_stock s ON r.stock_id = s.id
        LEFT JOIN base_block b ON r.block_id = b.id

        <where>
            s.code IN
            <foreach collection="stockCodeList" item="stockCode" open="(" separator="," close=")">
                #{stockCode}
            </foreach>
        </where>
    </select>


    <select id="listBlockByStockCode" resultType="com.bebopze.tdx.quant.dal.entity.BaseBlockDO">
        SELECT DISTINCT b.id,
                        b.code,
                        b.name,
                        b.code_path,
                        b.name_path,
                        b.type,
                        b.parent_id,
                        b.level,
                        b.end_level

        FROM base_block_rela_stock r
                 LEFT JOIN base_stock s ON r.stock_id = s.id
                 LEFT JOIN base_block b ON r.block_id = b.id

        WHERE s.code = #{stockCode}

        ORDER BY b.id ASC
    </select>


    <select id="listBlockByStockCodeList" resultType="com.bebopze.tdx.quant.dal.entity.BaseBlockDO">
        SELECT

        DISTINCT

        b.id,
        b.code,
        b.name,
        b.type,
        b.parent_id,
        b.level,
        b.end_level


        FROM base_block_rela_stock r
        LEFT JOIN base_stock s ON r.stock_id = s.id
        LEFT JOIN base_block b ON r.block_id = b.id

        <where>
            s.code IN
            <foreach collection="stockCodeList" item="stockCode" open="(" separator="," close=")">
                #{stockCode}
            </foreach>
        </where>

        ORDER BY b.id ASC
    </select>


    <select id="listStockByBlockCodeList" resultType="com.bebopze.tdx.quant.dal.entity.BaseStockDO">
        SELECT

        DISTINCT

        s.id, s.code, s.name,s.tdx_market_type


        FROM base_block_rela_stock r
        LEFT JOIN base_stock s ON r.stock_id = s.id
        LEFT JOIN base_block b ON r.block_id = b.id

        <where>
            b.code IN
            <foreach collection="blockCodeList" item="blockCode" open="(" separator="," close=")">
                #{blockCode}
            </foreach>
        </where>

        ORDER BY s.id ASC
    </select>


    <select id="listAll" resultType="com.bebopze.tdx.quant.dal.entity.BaseBlockRelaStockDO">
        SELECT DISTINCT r.*,

                        s.code AS stockCode,
                        s.name AS stockName,

                        b.code AS blockCode,
                        b.name AS blockName


        FROM base_block_rela_stock r
                 LEFT JOIN base_stock s ON r.stock_id = s.id
                 LEFT JOIN base_block b ON r.block_id = b.id
    </select>


</mapper>