<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bebopze.tdx.quant.dal.mapper.BaseStockMapper">


    <!-- 定义 ResultMap -->
    <resultMap id="BaseResultMap" type="com.bebopze.tdx.quant.dal.entity.BaseStockDO">
        <!-- 基本字段映射 -->
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="tdxMarketType" column="tdx_market_type"/>
        <result property="tradeDate" column="trade_date"/>
        <result property="open" column="open"/>
        <result property="high" column="high"/>
        <result property="low" column="low"/>
        <result property="close" column="close"/>
        <result property="prevClose" column="prev_close"/>
        <result property="volume" column="volume"/>
        <result property="amount" column="amount"/>
        <result property="changePct" column="change_pct"/>
        <result property="rangePct" column="range_pct"/>
        <result property="turnoverPct" column="turnover_pct"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModify" column="gmt_modify"/>
        <result property="klineHisRawLen" column="kline_his_raw_len"/>
        <result property="extDataHisRawLen" column="ext_data_his_raw_len"/>


        <!-- 关键：显式指定 typeHandler -->
        <result property="klineHis" column="kline_his"/>
        <result property="extDataHis" column="ext_data_his"/>
        <!--
        <result property="klineHis" column="kline_his" typeHandler="com.bebopze.tdx.quant.common.config.convert.KlineListTypeHandler"/>
        <result property="extDataHis" column="ext_data_his" typeHandler="com.bebopze.tdx.quant.common.config.convert.ExtDataListTypeHandler"/>
        -->
    </resultMap>


    <select id="getIdByCode" parameterType="java.lang.String" resultType="long">
        SELECT id

        FROM base_stock

        WHERE code = #{code}
    </select>

    <select id="getByCode" parameterType="java.lang.String" resultType="com.bebopze.tdx.quant.dal.entity.BaseStockDO">
        SELECT *

        FROM base_stock

        WHERE code = #{code}
    </select>


    <select id="getSimpleByCode" parameterType="java.lang.String" resultType="com.bebopze.tdx.quant.dal.entity.BaseStockDO">
        SELECT id, code, name, type, tdx_market_type

        FROM base_stock

        WHERE code = #{code}
    </select>


    <select id="listAllSimple" resultType="com.bebopze.tdx.quant.dal.entity.BaseStockDO">
        SELECT id, code, name, type, tdx_market_type

        FROM base_stock
    </select>


    <select id="listAllKline" resultType="com.bebopze.tdx.quant.dal.entity.BaseStockDO">
        SELECT *

        FROM base_stock
    </select>

    <select id="listAllETFKline" resultType="com.bebopze.tdx.quant.dal.entity.BaseStockDO">
        SELECT *

        FROM base_stock

        WHERE type = 2
    </select>

    <select id="listByCursor" resultType="com.bebopze.tdx.quant.dal.entity.BaseStockDO">
        SELECT *

        FROM base_stock

        WHERE id > #{lastId}

        ORDER BY id

        LIMIT #{pageSize}
    </select>


    <select id="listByCodeList" parameterType="java.lang.String" resultType="com.bebopze.tdx.quant.dal.entity.BaseStockDO">
        SELECT *

        FROM base_stock

        <where>
            code IN
            <foreach collection="codeList" open="(" separator="," close=")" item="code">
                #{code}
            </foreach>
        </where>
    </select>


    <select id="listSimpleByCodeList" parameterType="java.lang.String" resultType="com.bebopze.tdx.quant.dal.entity.BaseStockDO">
        SELECT id, code, name, type, tdx_market_type

        FROM base_stock

        <where>
            code IN
            <foreach collection="codeList" open="(" separator="," close=")" item="code">
                #{code}
            </foreach>
        </where>
    </select>


    <select id="listBaseByCodeList" parameterType="java.lang.String" resultType="com.bebopze.tdx.quant.dal.entity.BaseStockDO">
        SELECT id, code, name, type, tdx_market_type

        FROM base_stock

        <where>
            code IN
            <foreach collection="codeList" open="(" separator="," close=")" item="code">
                #{code}
            </foreach>
        </where>
    </select>


</mapper>