<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bebopze.tdx.quant.dal.mapper.BaseBlockNewRelaStockMapper">


    <delete id="delByBlockNewId" parameterType="long">
        DELETE
        FROM base_block_new_rela_stock
        WHERE block_new_id = #{blockNewId}
    </delete>


    <delete id="deleteAll">
        DELETE
        FROM base_block_new_rela_stock
    </delete>


    <select id="listByStockCode" resultType="com.bebopze.tdx.quant.dal.entity.BaseBlockNewDO">
        SELECT DISTINCT bn.*

        FROM base_block_new_rela_stock r
                 LEFT JOIN base_stock s ON r.stock_id = s.id
                 LEFT JOIN base_block_new bn ON r.block_new_id = bn.id

        WHERE s.code = #{stockCode}
          AND r.type = #{type}

        ORDER BY bn.id ASC
    </select>


    <select id="listStockByBlockNewCodeList" resultType="com.bebopze.tdx.quant.dal.entity.BaseStockDO">
        SELECT

        DISTINCT

        s.id, s.code, s.name,s.tdx_market_type


        FROM base_block_new_rela_stock r

        LEFT JOIN base_stock s ON r.stock_id = s.id
        LEFT JOIN base_block_new bn ON r.block_new_id = bn.id


        <where>
            bn.code IN
            <foreach collection="blockNewCodeList" open="(" separator="," close=")" item="code">
                #{code}
            </foreach>


            AND r.type = #{type}
        </where>


        ORDER BY s.id ASC

    </select>


    <select id="listBlockByBlockNewCodeList" resultType="com.bebopze.tdx.quant.dal.entity.BaseBlockDO">
        SELECT

        DISTINCT

        b.id,
        b.code,
        b.name,
        b.type,
        b.parent_id,
        b.level,
        b.end_level


        FROM base_block_new_rela_stock r

        LEFT JOIN base_block b ON r.stock_id = b.id
        LEFT JOIN base_block_new bn ON r.block_new_id = bn.id


        <where>
            bn.code IN
            <foreach collection="blockNewCodeList" open="(" separator="," close=")" item="code">
                #{code}
            </foreach>


            AND r.type = #{type}
        </where>


        ORDER BY b.id ASC

    </select>


    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO base_block_new_rela_stock

        (block_new_id, stock_id)

        VALUES

        <foreach collection="list" item="item" separator=",">
            (#{item.blockNewId}, #{item.stockId})
        </foreach>
    </insert>

</mapper>