<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bebopze.tdx.quant.dal.mapper.BaseBlockMapper">


    <!-- 定义 ResultMap -->
    <resultMap id="BaseResultMap" type="com.bebopze.tdx.quant.dal.entity.BaseBlockDO">
        <!-- 基本字段映射 -->
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="code_path" column="codePath"/>
        <result property="name_path" column="namePath"/>
        <result property="parent_id" column="parentId"/>
        <result property="type" column="type"/>
        <result property="level" column="level"/>
        <result property="end_level" column="endLevel"/>
        <result property="tradeDate" column="trade_date"/>
        <result property="open" column="open"/>
        <result property="high" column="high"/>
        <result property="low" column="low"/>
        <result property="close" column="close"/>
        <result property="prevClose" column="prev_close"/>
        <result property="volume" column="volume"/>
        <result property="amount" column="amount"/>
        <result property="changePct" column="change_pct"/>
        <result property="rangePct" column="range_pct"/>
        <result property="turnoverPct" column="turnover_pct"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModify" column="gmt_modify"/>


        <!-- 关键：显式指定 typeHandler -->
        <result property="klineHis" column="kline_his"/>
        <result property="extDataHis" column="ext_data_his"/>
        <!--
        <result property="klineHis" column="kline_his" typeHandler="com.bebopze.tdx.quant.common.config.convert.KlineListTypeHandler"/>
        <result property="extDataHis" column="ext_data_his" typeHandler="com.bebopze.tdx.quant.common.config.convert.ExtDataListTypeHandler"/>
        -->
    </resultMap>


    <select id="getIdByCode" resultType="long">
        SELECT id
        FROM base_block
        WHERE code = #{code}
    </select>


    <select id="getByCode" parameterType="java.lang.String" resultType="com.bebopze.tdx.quant.dal.entity.BaseBlockDO">
        SELECT *
        FROM base_block
        WHERE code = #{code}
    </select>


    <select id="getSimpleByCode" parameterType="java.lang.String" resultType="com.bebopze.tdx.quant.dal.entity.BaseBlockDO">
        SELECT id,
               code,
               name,
               code_path,
               name_path,
               parent_id,
               type,
               level,
               end_level

        FROM base_block
        WHERE code = #{code}
    </select>


    <select id="getSimpleById" resultType="com.bebopze.tdx.quant.dal.entity.BaseBlockDO">
        SELECT id,
               code,
               name,
               code_path,
               name_path,
               parent_id,
               type,
               level,
               end_level

        FROM base_block
        WHERE id = #{id}
    </select>


    <select id="listAllSimple" resultType="com.bebopze.tdx.quant.dal.entity.BaseBlockDO">
        SELECT id,
               code,
               name,
               code_path,
               name_path,
               parent_id,
               type,
               level,
               end_level

        FROM base_block
    </select>


    <select id="listAllKline" resultType="com.bebopze.tdx.quant.dal.entity.BaseBlockDO">
        SELECT *

        FROM base_block
    </select>


    <select id="listAllRpsKline" resultType="com.bebopze.tdx.quant.dal.entity.BaseBlockDO">
        SELECT *

        FROM base_block

        WHERE end_level = 1
          and (type = 2 or type = 4)
    </select>


    <select id="listSimpleByCodeList" parameterType="java.lang.String" resultType="com.bebopze.tdx.quant.dal.entity.BaseBlockDO">

        SELECT

        id,
        code,
        name,
        code_path,
        name_path,
        parent_id,
        type,
        level,
        end_level


        FROM base_block

        <where>
            code IN
            <foreach collection="codeList" open="(" separator="," close=")" item="code">
                #{code}
            </foreach>
        </where>
    </select>


    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO base_block

        (
        code, name, code_path, name_path,
        parent_id, type, level, end_level,
        trade_date, open, high, low, close, prev_close,
        volume, amount,
        range_pct, change_pct, change_price, turnover_pct,
        kline_his, kline_his_raw_len, ext_data_his, ext_data_his_raw_len
        )

        VALUES

        <foreach collection="list" item="item" separator=",">
            (
            #{item.code}, #{item.name}, #{item.codePath}, #{item.namePath},
            IFNULL(#{item.parentId}, 0), IFNULL(#{item.type}, 0), IFNULL(#{item.level}, 0), IFNULL(#{item.endLevel}, 0),
            #{item.tradeDate}, #{item.open}, #{item.high}, #{item.low}, #{item.close}, #{item.prevClose},
            #{item.volume}, #{item.amount},
            #{item.rangePct}, #{item.changePct}, #{item.changePrice}, #{item.turnoverPct},
            #{item.klineHis}, #{item.klineHisRawLen}, #{item.extDataHis}, #{item.extDataHisRawLen}
            )
        </foreach>
    </insert>


    <insert id="batchInsertOrUpdate" parameterType="java.util.List">
        INSERT INTO base_block

        (
        code, name, code_path, name_path,
        parent_id, type, level, end_level,
        trade_date,open, high, low, close, prev_close,
        volume, amount,
        range_pct, change_pct, change_price, turnover_pct,
        kline_his, kline_his_raw_len, ext_data_his, ext_data_his_raw_len
        )

        VALUES

        <foreach collection="list" item="item" separator=",">
            (
            #{item.code}, #{item.name}, #{item.codePath}, #{item.namePath},
            IFNULL(#{item.parentId}, 0), IFNULL(#{item.type}, 0), IFNULL(#{item.level}, 0), IFNULL(#{item.endLevel}, 0),
            #{item.tradeDate}, #{item.open}, #{item.high}, #{item.low}, #{item.close}, #{item.prevClose},
            #{item.volume}, #{item.amount},
            #{item.rangePct}, #{item.changePct}, #{item.changePrice}, #{item.turnoverPct},
            #{item.klineHis}, #{item.klineHisRawLen}, #{item.extDataHis}, #{item.extDataHisRawLen}
            )
        </foreach>


        ON DUPLICATE KEY UPDATE


        -- 下面使用 COALESCE(VALUES(col), col) ：当传入值为 NULL 时保留原值
        name = COALESCE(VALUES(name), name),
        code_path = COALESCE(VALUES(code_path), code_path),
        name_path = COALESCE(VALUES(name_path), name_path),
        parent_id = COALESCE(VALUES(parent_id), parent_id),
        type = COALESCE(VALUES(type), type),
        level = COALESCE(VALUES(level), level),
        end_level = COALESCE(VALUES(end_level), end_level),

        trade_date = COALESCE(VALUES(trade_date), trade_date),
        open = COALESCE(VALUES(open), open),
        high = COALESCE(VALUES(high), high),
        low = COALESCE(VALUES(low), low),
        close = COALESCE(VALUES(close), close),
        prev_close = COALESCE(VALUES(prev_close), prev_close),

        volume = COALESCE(VALUES(volume), volume),
        amount = COALESCE(VALUES(amount), amount),

        range_pct = COALESCE(VALUES(range_pct), range_pct),
        change_pct = COALESCE(VALUES(change_pct), change_pct),
        change_price = COALESCE(VALUES(change_price), change_price),
        turnover_pct = COALESCE(VALUES(turnover_pct), turnover_pct),

        kline_his = COALESCE(VALUES(kline_his), kline_his),
        kline_his_raw_len = COALESCE(VALUES(kline_his_raw_len), kline_his_raw_len),
        ext_data_his = COALESCE(VALUES(ext_data_his), ext_data_his),
        ext_data_his_raw_len = COALESCE(VALUES(ext_data_his_raw_len), ext_data_his_raw_len)
    </insert>


</mapper>