<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bebopze.tdx.quant.dal.mapper.BaseStockMapper">


    <select id="getIdByCode" parameterType="java.lang.String" resultType="long">
        SELECT id

        FROM base_stock

        WHERE code = #{code}
    </select>

    <select id="getByCode" parameterType="java.lang.String" resultType="com.bebopze.tdx.quant.dal.entity.BaseStockDO">
        SELECT *

        FROM base_stock

        WHERE code = #{code}
    </select>


    <select id="getSimpleByCode" parameterType="java.lang.String" resultType="com.bebopze.tdx.quant.dal.entity.BaseStockDO">
        SELECT id, code, name, type, tdx_market_type

        FROM base_stock

        WHERE code = #{code}
    </select>


    <select id="listAllSimple" resultType="com.bebopze.tdx.quant.dal.entity.BaseStockDO">
        SELECT id, code, name, type, tdx_market_type

        FROM base_stock
    </select>


    <select id="listAllKline" resultType="com.bebopze.tdx.quant.dal.entity.BaseStockDO">
        SELECT *

        FROM base_stock
    </select>

    <select id="listAllETFKline" resultType="com.bebopze.tdx.quant.dal.entity.BaseStockDO">
        SELECT *

        FROM base_stock

        WHERE type = 2
    </select>

    <select id="listByCursor" resultType="com.bebopze.tdx.quant.dal.entity.BaseStockDO">
        SELECT *

        FROM base_stock

        WHERE id > #{lastId}

        ORDER BY id

        LIMIT #{pageSize}
    </select>


    <select id="listByCodeList" parameterType="java.lang.String" resultType="com.bebopze.tdx.quant.dal.entity.BaseStockDO">
        SELECT *

        FROM base_stock

        <where>
            code IN
            <foreach collection="codeList" open="(" separator="," close=")" item="code">
                #{code}
            </foreach>
        </where>
    </select>


    <select id="listSimpleByCodeList" parameterType="java.lang.String" resultType="com.bebopze.tdx.quant.dal.entity.BaseStockDO">
        SELECT id, code, name, type, tdx_market_type

        FROM base_stock

        <where>
            code IN
            <foreach collection="codeList" open="(" separator="," close=")" item="code">
                #{code}
            </foreach>
        </where>
    </select>


    <select id="listBaseByCodeList" parameterType="java.lang.String" resultType="com.bebopze.tdx.quant.dal.entity.BaseStockDO">
        SELECT id, code, name, type, tdx_market_type

        FROM base_stock

        <where>
            code IN
            <foreach collection="codeList" open="(" separator="," close=")" item="code">
                #{code}
            </foreach>
        </where>
    </select>


</mapper>