<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bebopze.tdx.quant.dal.mapper.BtDailyReturnMapper">


    <select id="getByTaskIdAndTradeDate" resultType="com.bebopze.tdx.quant.dal.entity.BtDailyReturnDO">

        SELECT *


        FROM bt_daily_return


        WHERE task_id = #{taskId}

          AND trade_date = #{tradeDate}

    </select>


    <select id="lastByTaskId" resultType="com.bebopze.tdx.quant.dal.entity.BtDailyReturnDO">

        SELECT *


        FROM bt_daily_return


        WHERE task_id = #{taskId}


        ORDER BY trade_date DESC
        LIMIT 1

    </select>


    <select id="listByTaskIdAndTradeDateRange" resultType="com.bebopze.tdx.quant.dal.entity.BtDailyReturnDO">

        SELECT *


        FROM bt_daily_return


        WHERE task_id = #{taskId}


        <if test="startTradeDate != null">
            <![CDATA[     AND trade_date >= #{startTradeDate}     ]]>
        </if>

        <if test="endTradeDate != null">
            <![CDATA[     AND trade_date <= #{endTradeDate}     ]]>
        </if>

    </select>


    <select id="listTradeDateByTaskId" resultType="java.time.LocalDate">

        SELECT trade_date


        FROM bt_daily_return


        WHERE task_id = #{taskId}

    </select>


    <!-- 已废弃 -->
    <select id="listTaskIdByBatchNoAndTotalDaysAndLeDailyReturn" resultType="long">

        SELECT DISTINCT t.id


        FROM bt_daily_return dr
        LEFT JOIN bt_task t ON dr.task_id = t.id


        WHERE t.batch_no = #{batchNo}

        AND dr.trade_date != '2020-02-03'


        <![CDATA[     AND t.max_drawdown_pct < -20     ]]>


        <![CDATA[     AND t.total_days < #{totalDays}     ]]>

        <if test="dailyReturn != null">
            <![CDATA[     AND dr.daily_return <= #{dailyReturn}     ]]>
        </if>


    </select>


    <delete id="deleteByTaskIds">
        DELETE
        FROM bt_daily_return

        WHERE task_id IN


        <foreach collection="taskIdList" item="taskId" open="(" close=")" separator=",">
            #{taskId}
        </foreach>
    </delete>


    <delete id="deleteByTaskIdAndTradeDateRange">
        DELETE
        FROM bt_daily_return


        WHERE task_id = #{taskId}


        <if test="startTradeDate != null">
            <![CDATA[     AND trade_date >= #{startTradeDate}     ]]>
        </if>

        <if test="endTradeDate != null">
            <![CDATA[     AND trade_date <= #{endTradeDate}     ]]>
        </if>

    </delete>


</mapper>
