<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bebopze.tdx.quant.dal.mapper.BtTaskMapper">


    <select id="listByTaskIdAndDate" resultType="com.bebopze.tdx.quant.dal.entity.BtTaskDO">

        SELECT *


        FROM bt_task


        <where>
            <if test="taskId != null">
                AND id = #{taskId}
            </if>
            <if test="batchNoList != null   and   batchNoList.size() > 0">
                AND batch_no IN
                <foreach collection="batchNoList" item="batchNo" open="(" close=")" separator=",">
                    #{batchNo}
                </foreach>
            </if>
            <if test="favoriteFlag != null">
                AND favorite_flag = #{favoriteFlag}
            </if>
            <if test="startTime != null">
                <![CDATA[     AND gmt_create >= #{startTime}     ]]>
            </if>
            <if test="endTime != null">
                <![CDATA[     AND gmt_create <= #{endTime}     ]]>
            </if>
        </where>

    </select>


    <select id="listByBatchNoAndStatus" resultType="com.bebopze.tdx.quant.dal.entity.BtTaskDO">

        SELECT *


        FROM bt_task


        <where>
            <if test="batchNo != null">
                AND batch_no = #{batchNo}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>

    </select>


    <select id="listIdByBatchNoAndStatus" resultType="long">

        SELECT id


        FROM bt_task


        <where>
            <if test="batchNo != null">
                AND batch_no = #{batchNo}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>

    </select>


    <select id="lastBatchNo" resultType="int">

        SELECT MAX(batch_no)

        FROM bt_task

    </select>


    <select id="getLastBatchNoEntity" resultType="com.bebopze.tdx.quant.dal.entity.BtTaskDO">

        SELECT *

        FROM bt_task

        WHERE batch_no = (SELECT MAX(batch_no) FROM bt_task)

        ORDER BY id ASC
        LIMIT 1

    </select>


    <select id="getBatchNoEntityByBatchNo" resultType="com.bebopze.tdx.quant.dal.entity.BtTaskDO">

        SELECT *

        FROM bt_task

        WHERE batch_no = #{batchNo}

        ORDER BY id ASC
        LIMIT 1

    </select>


    <select id="getMaxTotalDaysByBatchNo" resultType="int">

        SELECT MAX(total_days)

        FROM bt_task

        WHERE batch_no = #{batchNo}

    </select>


    <select id="listErrTaskIdByBatchNoAndTotalDay" resultType="long">

        SELECT id


        FROM bt_task


        WHERE batch_no = #{batchNo}


        <!--     <![CDATA[     AND max_drawdown_pct < -20     ]]>     -->


        <![CDATA[     AND total_days < #{totalDay}
        ]]>

    </select>


    <select id="getMaxFinalNavTaskByBatchNo" resultType="com.bebopze.tdx.quant.dal.entity.BtTaskDO">

        SELECT *

        FROM bt_task

        WHERE batch_no = #{batchNo}

        ORDER BY final_nav DESC
        LIMIT 1

    </select>


</mapper>