<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bebopze.tdx.quant.dal.mapper.QaBlockNewRelaStockHisMapper">


    <delete id="deleteAll">

        DELETE FROM qa_block_new_rela_stock_his


        WHERE block_new_id = #{blockNewId}

        <if test="date != null">
            AND date = #{date}
        </if>

    </delete>


    <delete id="deleteByBlockNewIdAndDateSet">

        DELETE FROM qa_block_new_rela_stock_his


        WHERE block_new_id = #{blockNewId}


        <if test="dateSet != null   and   dateSet.size() > 0">
            AND date IN

            <foreach collection="dateSet" item="date" open="(" close=")" separator=",">
                #{date}
            </foreach>
        </if>

    </delete>


    <select id="listByBlockNewIdDateAndLimit" resultType="com.bebopze.tdx.quant.dal.entity.QaBlockNewRelaStockHisDO">
        SELECT *

        FROM qa_block_new_rela_stock_his


        WHERE


        block_new_id = #{blockNewId}

        <![CDATA[     AND date <= #{date}     ]]>

        ORDER BY date DESC


        <if test="limit != null">
            LIMIT #{limit}
        </if>

    </select>


    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO qa_block_new_rela_stock_his

        (
        block_new_id, date, stock_id_list, result, gn_result,
        pthy_lv1_result, pthy_lv2_result, pthy_lv3_result,
        yjhy_lv1_result, yjhy_lv2_result, yjhy_lv3_result
        )

        VALUES

        <foreach collection="list" item="item" separator=",">
            (
            #{item.blockNewId}, #{item.date}, #{item.stockIdList}, #{item.result}, #{item.gnResult},
            #{item.pthyLv1Result}, #{item.pthyLv2Result}, #{item.pthyLv3Result},
            #{item.yjhyLv1Result}, #{item.yjhyLv2Result}, #{item.yjhyLv3Result}
            )
        </foreach>
    </insert>

</mapper>